li {
    display: flex;
    justify-content: space-between;
    align-items: left;
    border-bottom: 1px solid #ededed;
    padding: 16px;
    position: relative;
}

.row {
    display: flex;
    align-items: center;
    flex: 1;
}

input[type="checkbox"] {
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.text, .textComplete {
    flex: 1;
    font-size: 24px;
    padding-left: 30px;
    transition: color 0.3s ease;
}

.textComplete {
    text-decoration: line-through;
    color: #d9d9d9;
    font-weight: normal;
}

.deleteTodo {
    cursor: pointer;
    background: none;
    border: none;
    font-size: 18px;
    color: #000;
    opacity: 0;
    transition: opacity 0.3s ease;
    right: 16px;
}

li:hover button {
    opacity: 1;
}

button:hover {
    color: red;
}

.editInput {
    font-size: 24px;
    font-family: 'Arial', sans-serif;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.editInput:focus {
    border-color: #999;
}
